html{
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width:70vw;
    max-width:900px;
    margin: 40px auto;
}

body {
 font-family: 'Times New Roman', sans-serif;
  margin:0;
 line-height:1.4;
 }
header.primary{
 background-color:#000000;
 text-align:center;
 color:#ffffff;
 text-shadow: 2px 2px #000000;
 padding-top:40px;
 padding-right:40px;
 padding-bottom:20px;
 padding-left:40px;    
}
header.primary h1 a{
  color:rgb(255, 255, 255);
  text-decoration:red;
}
header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding: 1;
}
header.primary nav ul li{
  list-style-type:none;
}
header.primary nav ul li a:link, 
header.primary nav ul li a:visited {
  color:#fff;
  text-decoration:none;
  background-color:rgba(0,0,0,.4);
  padding:8px 16px;
  border-radius:20px;
  transition:.5s;
  border: 1px solid rgba(0,0,0,.4);
}
header.primary nav ul li a:hover, header.primary nav ul li a:active {
 background-color:rgba(250, 6, 6, 0.8);
}
#intro h2 {
    color:#000000;
    border-bottom: 1px dashed #c0c0c0;
  }
  
  #intro{
  border-bottom: 1px dashed #c0c0c0;
  padding-bottom:.9rem;
  }
  
  #content.container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom:1px dashed #c0c0c0;
    padding-bottom:2.9rem;
  }
  
  article.post{
  width:30%;
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  padding:.4rem;  
  font-size:.7rem;  
  transition:.5s;  
  }
  
  article.post:hover{
    box-shadow:0 8px 16px rgba(0,0,0,.4);
  }
  
  article.post figure{
    margin:0;
  }
  
  .post-date, figcaption, .post-meta {
    text-transform:uppercase;
    color:#71767a;
  }
  
  article a:link{
    color:#ea0b0b;
  }
  
  article a:hover, article a:active{
    text-decoration:none;
  }
  
  aside[role="complementary"]{
    background-color:#172635;
    color:#fff;
    padding:1.8rem;
  }
  
  aside div.container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  
  aside article{
    width:40%;
  }
  
  aside article:nth-child(3n){
    width:100%;
  }

  @media screen and (max-width:710px){
    header.primary nav ul{
      flex-direction:row;
      justify-content:space-between;
    }

    header.primary nav li{
      margin-bottom:10px;
    }

    header.primary a{
      display:block;
    }
  }