html{
    background-image: url("/independentsite/assets/img/gardenlandscape.jpg");
    background-size: cover;
}

.container {
    width:70vw;
    max-width:900px;
    margin: 60px;
    border-radius: 20px;
    
}

body {
    background-color: #f2e0bd;
    border-radius: 20px;
}

header.primary{
    background-color: #557340;
}

#icon{
    background-image: url("/independentsite/assets/img/bushes-png-2832.png");
    background-repeat: repeat;
    background-size: cover;
}

header.primary h1 a{
    background-image: url("/independentsite/assets/img/bushes-png-2832.png");   
}
header.primary h1 a:link,
header.primary h1 a:visited{
    color: rgba(157, 222, 72, 0.601);
    text-decoration:none;
    

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #557340;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content:flex-start

}

header.primary nav ul li{
    list-style-type: none;
}

header.primary nav ul li a:link, 
header.primary nav ul li a:visited {
  color:#fff;
  text-decoration:none;
  background-color:#557340;
  padding:8px 16px;
  transition:.5s;
  border: 1px solid rgba(0,0,0,.4);
}

header.primary nav ul li a:hover, header.primary nav ul li a:active {
    background-color:#CFD984;
   }